.rounded_box{
    border-radius: 3%;
    // border: solid;
    // border-width: thin;
    // border-color: rgb(156, 156, 156);
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 1px 3px rgb(209, 209, 209);
}